<h1>Create a new blog post</h1>

<h4>Here we need to <strike>put a form</strike><sup>(done)</sup> in order to create a new blog post</h4>

<p>* <strike>Need to create a model to represent the blog post object being saved to the db.</strike></p>
<p>* <strike>Need to create "create" action in PostsController that will save blog post to db.</strike></p>

<%= form_with scope: :post, url: posts_path, local: true do |form| %>
  <p>inside the form</p>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %>
        prohibited this blog post from being saved:
      </h2>
      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title %> <br>
    <%= form.text_field :title %>
  </p>
  <p>
    <%= form.label :body %> <br>
    <%= form.text_area :body %>
  </p>
  <%= form.submit %>
<% end %>

<%= link_to 'back', root_path %>
